@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  min-height: 100vh; 
  background: linear-gradient(#ffbfb0,#ff9688);
}
.baby-background{
  background-image: url(./images/icons_baby.png);
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: .08;
  background-position-x: 50%;
  background-position-y: 20rem;
}
.borderC{

  width: 96%;
  border-radius: 20px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  position: absolute;
  height: 98vh;
  color: 0;
}
.audio-title{
  position: absolute;
  background-color:#ff9c9c;
  width: 80%;
  height: 22%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 70px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
  text-align: center;
  z-index: 1;
}
.audio{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 20rem;
  margin-left: -50%;
  /* -1/2 width */
  margin-top: -10rem;
  /* -1/2 height */
  text-align: center;
}
.wave{
  width: 100%;
  height: 100px;
  margin-top: 80px;
  margin-bottom: 80px;
}
#myCanvas{
  width: 100%;
  height: 100px;
  position: absolute;
}

.botonP{
  min-width: 150px;
  width: auto;
  height: 150px;
  border-radius: 100%;
  border:0;
  margin-top: 80px;
  box-shadow:
    0 0 0 10px rgb(255, 162, 255),
    0 0 0 15px rgb(255, 179, 251);
}
.botonP{
  transition: ease-in 0.1s;
  background-image: url(./images/baby.png);
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: ease-in 0.1s;
  -moz-transition: ease-in 0.1s;
  -ms-transition: ease-in 0.1s;
  -o-transition: ease-in 0.1s;
}
.botonP:active{
  z-index: 10;
  translate: 0px 5px;
}


.h1G{
  width: 100%;
  font-family: 'Fira Sans';
  font-size: 200%;
  margin-top: 20px;
  background-color: white;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



