@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  min-height: 100vh; 
  background: linear-gradient(#ffbfb0,#ff9688);
}
.baby-background{
  position: fixed;
  background-image: url(./images/icons_baby.png);
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: .05;
  background-position-x: 50%;
  background-position-y: 20rem;
}
.container-main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 94vh;
}
.container-baby{
  width: 100vw;
  height: 30%;
  padding-top: 5%;
  text-align: center;
}
.svg_baby{
  width: auto;
  height: 100%;
}
.container-wave{
  width: 100%;
  height: 20vh;
}
.waveform{
  width: 100vw;
  height: 20vh;
}

.btnMic{
  border-radius: 50%;
  border:0;
  width: 25vw;
  height: 25vw;
  box-shadow:    0 0 0 2vw rgb(220, 20, 60),    0 0 0 3vw rgba(220, 20, 60, 0.541);
}

.btnMic{
  transition: ease-in 0.05s;
  -webkit-transition: ease-in 0.05s;
  -moz-transition: ease-in 0.05s;
  -ms-transition: ease-in 0.05s;
  -o-transition: ease-in 0.05s;
}
.btnMic:active{
  z-index: 12;
  translate: 0px 5px;
}

.mic{
  color: crimson;
  width: auto;
  height: 50%;
}

.container-audios{
  background-color: white;
  width: 90%;
  height: 15vh;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 20px;
  margin-bottom: 10%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  overflow: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.container-controls{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.button_audios{
  background-color: #ffbfb0;
  width: 100%;
  height: 50%;
  border: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.play-audios{
  width: 70%;
}